fastapi==0.116.1
uvicorn[standard]==0.35.0
python-dotenv==1.1.1
sqlalchemy==2.0.43
psycopg2-binary==2.9.10
supabase==2.18.1
python-jose==3.5.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
email-validator==2.3.0
redis==6.4.0
pydantic-settings==2.10.1
aiosmtplib==3.0.1
bcrypt==4.0.1
asyncpg
groq
google-auth
google-auth-oauthlib
google-auth-httplib2
jinja2
httpx